<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title - Les plus vieilles voitures au Québec!</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width"/>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", false)
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Accueil", "Index", "Home")</li>
                <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- Begin page content -->
<div class="container" id="body">
    @RenderSection("featured", false)
    <section>
        @RenderBody()
    </section>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">
            <p>&copy; @DateTime.Now.Year - Super Old Cars, Exercice #2 du projet synthèse, fait par Raphaël Doré</p>
        </p>
    </div>
</footer>


@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", false)

<!-- Petit script qui met le bon élément de la barre de navigation class="active" -->
<script type="text/javascript">
//<![CDATA[

    $(document).ready(function() {
        var url = window.location;
        $('.navbar .nav').find('.active').removeClass('active');
        $('.navbar .nav li a').each(function() {
            if (this.href == url) {
                $(this).parent().addClass('active');
            }
        });
    });
//]]>

</script>
</body>
</html>