@model SuperOldCars.Web.Models.Car

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Car</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TitreAnnonce)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TitreAnnonce)
            @Html.ValidationMessageFor(model => model.TitreAnnonce)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Marque)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Marque)
            @Html.ValidationMessageFor(model => model.Marque)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Modele)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modele)
            @Html.ValidationMessageFor(model => model.Modele)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Annee)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Annee)
            @Html.ValidationMessageFor(model => model.Annee)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Proprietaire)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Proprietaire)
            @Html.ValidationMessageFor(model => model.Proprietaire)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Negociable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Negociable)
            @Html.ValidationMessageFor(model => model.Negociable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Prix)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Prix)
            @Html.ValidationMessageFor(model => model.Prix)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Information)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Information)
            @Html.ValidationMessageFor(model => model.Information)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Conditions)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Conditions)
            @Html.ValidationMessageFor(model => model.Conditions)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
