@using SuperOldCars.Web.Helpers
@model IEnumerable<SuperOldCars.Web.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer une nouvelle annonce", "Create")
</p>

@foreach (var item in Model)
{
    <div class="media" style="background-color: rgb(240, 240, 240);padding: 15px;">
        <div class="media-left">
            <img class="media-object" src="http://placehold.it/100x100">
            <span style="font-size: 1.2em; font-weight: bold">@Html.FormatMoney(item.Prix)</span>
            @Html.ActionLink("Modifier", "Edit", new { id = item.Id })
            @Html.ActionLink("Détails", "Details", new { id = item.Id })
            @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
        </div>
        <div class="media-body">
            <h4 class="media-heading">@Html.ActionLink(item.TitreAnnonce, "Details", new { id = item.Id })</h4>
            @Html.DisplayFor(modelItem => item.Information)
        </div>
    </div>
}